(classes
  (float-loop (type . range) (low . 1.0) (high . 20.0) (step . 0.1)(repr . "\"$key\": $value,"))
  (int-loop (type . range) (low . 0) (high . 1000) (step . 1)(repr . "\"$key\": $value,"))
  (class-knockout50pct    (type . knockout) (threshold . 0.5))
)

(dna
 "{"
  (x (class . "int-loop"))
  (y (class . "float-loop"))
  (z (class . "int-loop")(low . -1000) (high . 0))
  (zKO (class . "class-knockout50pct")
          (linked_genes . [z]))
  "}"
)
